/* Letra logo */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
/* Letra nav */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* Letra h1 main*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/* Letra SHOP NOW */
@import url('https://fonts.googleapis.com/css2?family=Ysabeau&display=swap');
/* Letra text main*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@300&display=swap');
/* Letra Números */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    margin: 0em;
    padding: 0em;
}

header{
    width: 100%;
    max-width: 120rem;
}

/* Start Nav */
.nav{
    display: flex;
    justify-content: space-between;
}

.left-nav{
    background-color: white;
    display: flex;
    align-items: center;
    width: 65%;
    padding-top: 1.3em;
}

.yvire{
    padding-left: 2em;
    padding-right: 5em;
    letter-spacing: -0.16536em;
    font-family: 'PT Serif', serif;
    font-size: 3em;
}

.left-links{
    display: flex;
    font-family: 'Roboto', sans-serif;
    padding-right: 6em;
}

.lefta1, .lefta2, .lefta3, .lefta4{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 7em;
}

.lefta1:hover, .lefta2:hover, .lefta3:hover, .lefta4:hover{
    color: #8C847A;
    transform: scale(1.1);
    transition: .5s;   
}


.right-nav{
    background-color: #D6BDA6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2em;
    width: 35%;
}

.bi1, .bi2{
    font-size: 1.4em;
    cursor: pointer;
}

.bi1:hover, .bi2:hover{
    color: #8C847A;
}

.bi2{
    margin-left: 1em;
    padding-right: 1.5em;
    border-right: solid 0.0625em #8C847A;
}

.badge {
    position: absolute;
    right: 27.8em;
    top: 3.1em;
    padding: 0.03125em 0.4em;
    border-radius: 50%;
    background-color: #F1EADC;
    color: black;
    border: 0.0625em solid black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: smaller;
}

.si , .su{
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.si{
    margin-left: 1.5em;
    padding-right: 1.5em;
}

.si:hover{
    color: #8C847A;
}

.su{
    border: solid 0.15em black;
    padding: .3em 1.5em .3em 1.5em; 
    background-color: transparent;
    margin-right: 5em;    
}

.su:hover{
    transform: scale(1.1);
    transition: .5s;
}
/* End Nav */

/* Start Body */

.mainbody{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 120rem;
    height: 100vh;
}

.containerizq{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 65%;
}

.womanimg{
    height: 67.5rem;
    position: relative;
    left: -16em;
}

.e{
    font-family: 'Playfair Display', serif;
    font-size: 7em; 
    margin-top: 2.5em;
    padding-left: .8em;   
    width: 10em;
    line-height: 1.1;
}

.sn{
    border: 0.1875em solid black;
    padding: .6em .4em .6em .4em;
    background-color: transparent;
    margin-top: 4em;
    margin-left: 4.7em;
    width: 10em;
    font-family: 'Ysabeau', sans-serif;
    font-weight: bold;
    font-size: 1.2em;  
}

.sn:hover{
    background-color: #D6BDA6;
    transform: scale(1.1);
    transition: .5s;
}

.fashion-text{
    color: #706257;
    font-family: 'Noto Serif HK', serif;
    font-size: 1.2em;
    width: 28em;
    margin-top: 9em;
    margin-left: 4.6em;
    font-weight: bold; 
}

.containerdrc{
    display: flex;
    background-color: #D6BDA6;
    width: 35%;
}

.escala{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: .8em;
    position: relative;
    right: 6em;
}

.uno, .dos, .tres{
    border-right: 0.45em solid;
    height: 2em;
    padding: 1.5em 1.5em 1.5em 1.5em;
    cursor: pointer;
}

.uno{
    border-color: black;
}

.dos, .tres{
    border-color: #706257;
}

.dos:hover , .tres:hover{
    border-color: #919090 
}
/* End Body */